@import "./css/header.css";
@import "./css/hero.css";
@import "./css/feature-cars.css";
@import "./css/form.css";
@import "./css/footer.css";

/* This is your first CSS file. This will help us give our website color and position elements where we need them. */

@font-face {
    font-family: "Montserrat-Regular";
    src: url("./assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat-Black";
    src: url("./assets/fonts/Montserrat-Black.ttf");
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("./assets/fonts/Montserrat-Medium.ttf");
}

@font-face { 
    font-family: "Montserrat-Thin";
    src: url("./assets/fonts/Montserrat-Thin.ttf")
}

@font-face {
    font-family: "Montserrat-ExtraBold";
    src: url("./assets/fonts/Montserrat-ExtraBold.ttf")
}

@font-face {
    font-family: "Montserrat-Light";
    src: url("./assets/fonts/Montserrat-Light.ttf")
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("./assets/fonts/Montserrat-Bold.ttf")
}

.advertisement {
    padding: 50px 0;
}

.advertisement .inner-container {
    margin: 0 auto;
    width: 1000px;
}

.advertisement .card {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 0 0.5px 4px 0 #cccccc;

}

.advertisement .column {
    width: 50%;
    padding: 20px 20px;
}

.advertisement .inner-content {
    padding:50px 0;
}

.advertisement h3 {
    font-size: 50px;
    font-family: "Montserrat-Black";
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 25px;
}

.advertisement p {
    font-size: 16px;
    font-family: "Montserrat-Regular";
    line-height: 1.6;
}

.advertisement button {
    font-family: "Montserrat-Regular";
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    background-color: #000000;
    padding: 15px 25px;
    border-radius: 25px;
    border: 2px solid #000000;
    cursor: pointer;
    transition: 0.5s;
}

.advertisement button:hover {
    color: #000000;
    background-color: #FFFFFF;
    
}

.advertisement button:focus {
    outline: none;
}

.advertisement .image {
    background-image: url("./assets/images/advertisement-1.jpg");
    background-repeat: none;
    background-position: center center;
    background-size: cover;  
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media (max-width: 600px) {
    
}