.feature-card {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 0 0.5px 4px 0 #cccccc;
    margin-bottom: 72px;
    overflow: hidden;
}

.feature-card:nth-child(even) {
    flex-direction: row-reverse;
}

.feature-card .text{
    width: 670px;
    padding: 74px 70px;
}

.feature-card .text .step{
    font-size: 120px;
    font-family: "Montserrat-Regular";
    color: #cccccc;
    margin-bottom: 62px;
}

.feature-card .text h3 {
    font-size: 30px;
    font-family: "Montserrat-Bold";
    text-transform: capitalize;
    color: #000000;
    margin: 0 0 34px 0;
}

.feature-card .text p {
    font-size: 14px;
    font-family: "Montserrat-Regular";
    line-height: 24px;
    color: #999999;
    margin: 0 0 64px 0;
}

.feature-card .text a {
    font-size: 12px;
    font-family: "Montserrat-Bold";
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.feature-card .image {
    padding: 0;
}

.feature-card .image img {
    max-width: 500px;
    object-fit: cover;
    width: 100%;
    height: 594px;
}

/* Tablet Devices */
@media (max-width: 1200px) {
    .container {
        width: 100% !important;
        padding: 0 20px;
    }

    .title-bar .text {
        width: 100%;
    }
    
    .title-bar .text p {
        margin: 0 auto 72px auto;
        max-width: 770px;
        width: 100%;
    }

    .feature-card .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 70px 20px 70px;
    }

    .feature-card .image img {
        max-height: 594px;
        height: 100%;
    }
}

@media (max-width: 700px) {
    .feature-card .text .step {
        margin-bottom: 31px;
    }
    .feature-card .text p {
        margin: 0 0 32px 0;
    }
}

/* Mobile Devices */
@media (max-width: 600px) {
    .features {
        padding: 0 15px;
    }

    .feature-card {
        flex-direction: column-reverse;
    }

    .feature-card:nth-child(even) {
        flex-direction: column-reverse;
    }

    .feature-card .text {
        width: 100%;
        padding: 15px 15px 40px 15px;
    }

    .feature-card .text .step {
        margin-bottom: 15px;
    }

    .feature-card .text p {
        font-size: 16px;
        margin: 0 0 32px 0;
    }

    .feature-card .text a {
        font-size: 16px;
    }

    .feature-card .image img {
        width: 100%;
        height: 250px;
    }
}