@import '../global.css';
@import '../header.css';
@import './title-bar.css';
@import './feature-card.css';
@import '../footer.css';

.container {
    margin: 0 auto;
    width: 1170px;
}

/* Mobile Devices */
@media (Max-width: 600px) {
    .container {
        width: 100%;
    }
}