@import '../global.css';
@import '../header.css';
@import '../footer.css';

.container {
    margin: 0 auto;
    width: 1170px;
}

.title-bar h3 {
    font-size: 60px;
    font-family: "Montserrat-Bold";
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;
}

.title-bar .bread-crumbs {
    margin-bottom: 122px;
    text-align: center;
}

.title-bar ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.title-bar li {
    display: inline-block;
    opacity: 0.65;
    font-size: 14px;
    font-family: "Montserrat-Regular";
    color: black;
}

.title-bar li.active {
    opacity: 1;
    font-family: "Montserrat-Bold";
}

.title-bar li::after {
    content: ' >';
}

.title-bar li:last-child::after {
    content: '';
}

.title-bar .text {
    margin: 0 auto;
    width: 770px;
}

.title-bar p {
    font-size: 14px;
    font-family: "Montserrat-Regular";
    text-align: center;
    line-height: 24px;
    margin: 0 0 72px 0;
}

.feature-card {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 0 0.5px 4px 0 #cccccc;
    margin-bottom: 72px;
    overflow: hidden;
}

.feature-card .text{
    width: 670px;
    padding: 74px 70px;
}

.feature-card .text .step{
    font-size: 120px;
    font-family: "Montserrat-Regular";
    color: #cccccc;
    margin-bottom: 62px;
}

.feature-card .text h3 {
    font-size: 30px;
    font-family: "Montserrat-Bold";
    text-transform: capitalize;
    color: #000000;
    margin: 0 0 34px 0;
}

.feature-card .text p {
    font-size: 14px;
    font-family: "Montserrat-Regular";
    line-height: 24px;
    color: #999999;
    margin: 0 0 64px 0;
}

.feature-card .text a {
    font-size: 12px;
    font-family: "Montserrat-Bold";
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.feature-card .image {
    overflow: hidden;
    width: 500px;
    height: 594px;
    padding: 0;
}

.feature-card .image img {
    object-fit: cover;
    width: 100%;
}

