@import '../global.css';
@import '../header.css';
@import './hero.css';
@import './contact-details.css';
@import './contact-options.css';
@import './contact-form.css';
@import './contact-map.css';
@import '../footer.css';

/* Utility Styles */
.flex-direction-row {
    display: flex;
    flex-direction: row;
}

*{box-sizing: border-box;}

#contact .container {
    margin: 0 auto;
    width: 1170px;
    padding: 62px 0;
}

/* Mobile */
@media (max-width: 600px) {
    #contact .container {
        width: 100%;
        padding: 62px 15px;
    }
}