@import '../global.css';
@import '../header.css';
@import '../footer.css';

.text-regular {
    font-family: "Montserrat-Regular" !important;
}

.text-color-grey {
    color: #999999;
}

.justify-content-right {
    justify-content: flex-end;
}

.flex {
    display: flex;
}

#our-work {
    background-color: #ffffff;
    padding: 136px 0;
}

#our-work .container {
    margin: 0 auto;
    width: 1170px;
}

#our-work .full-container {
    width: 100%;
}

#our-work .heading1 {
    margin-bottom: 25px;
}

#our-work .heading1 h1 {
    font-size: 60px;
    font-family: "Montserrat-Bold";
    text-align: center;
    color: #000000;
    text-transform: capitalize;
    line-height: 36px;
    margin: 0;
}

#our-work  .bread-crumbs {
    margin-bottom: 122px;
    text-align: center;
}

#our-work .bread-crumbs ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#our-work .bread-crumbs li {
    display: inline-block;
    opacity: 0.65;
    font-size: 14px;
    font-family: "Montserrat-Regular";
    color: black;
}

#our-work .bread-crumbs li.active {
    opacity: 1;
    font-family: "Montserrat-Bold";
}

#our-work .bread-crumbs li::after {
    content: ' >';
}

#our-work .bread-crumbs li:last-child::after {
    content: '';
}

#our-work .full-container {
    overflow: hidden;
}

#our-work .image-carousel {
    display: inline-flex;
    flex-direction: row;
}

#our-work .image-carousel .image {
    overflow: hidden;
    width: 1170px;
    max-height: 692px;
    margin-left: 30px;
}

#our-work .image-carousel .image:first-child {
    margin-left: -865px;
}

#our-work .image-carousel .image:last-child {
    margin-right: 30px;
}

#our-work .image-carousel .image img {
    width: 100%;
    height: 100%;
}

#our-work .carousel-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 410px;
}

#our-work .carousel-details .column {
    display: flex;
    justify-content: center;
    width: 50%;
}

#our-work .carousel-details .heading-3 {
    width: 285px;
}

#our-work .carousel-details h3 {
    font-size: 36px;
    font-family: "Montserrat- Bold";
    line-height: 36px;
    text-align: left;
    color: black;
    margin: 0;
}

#our-work .carousel-details ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#our-work .carousel-details li {
    font-size: 14px;
    font-family: "Montserrat-Regular";
    line-height: 30px;
    color: #999999;
}

#our-work .carousel-details li span {
    font-family: "Montserrat-Bold";
    color: #000000;
}

#our-work .carousel-content .paragraph {
    margin: 0 0 38px 0;
}

#our-work .carousel-content p {
    font-size: 14px;
    font-family: "Montserrat-Bold";
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin: 0;
}

#our-work hr {
    border: 1px solid #E1E1E1;
    margin-bottom: 52px;
}

#our-work .carousel-footer-navigation {
    display: flex;
    flex-direction: row;
}

#our-work .carousel-footer-navigation .column {
    width: 50%;
}

#our-work .carousel-footer-navigation .square {
    display: flex;
    align-items: center;
    width: 58px;
    height: 58px;
    background-color: #F2F5F5;
    cursor: pointer;
}

#our-work .carousel-footer-navigation .square .text-prev {
    font-size: 15px;
    font-family: "Montserrat-Bold";
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#999999;
    margin-right: -19px;
}

#our-work .carousel-footer-navigation .square .text-right {
    font-size: 15px;
    font-family: "Montserrat-Bold";
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#999999;
    margin-left: -19px;
}

/* Tablet Devices */
@media (max-width: 1175px) {
    #our-work .container {
        width: 100%;
    }

    #our-work .carousel-content .paragraph {
        padding: 0 30px;
    }
}

/* Smaller Tablet Devices */
@media (max-width: 900px) {
    #our-work .carousel-details {
        flex-direction: column;
        height: inherit;
    }

    #our-work .carousel-details .column {
        padding: 30px 0;
    }

    #our-work .carousel-content {
        padding-top: 30px;
    }
}

/* Mobile Device */
@media (max-width: 600px) {
    #our-work {
        padding: 30px 0;
    }

    #our-work .container {
        width: 100%;
    }

    #our-work .bread-crumbs {
        margin-bottom: 30px;
    }

    #our-work .image-carousel .image {
        max-height: 300px;
    }

    #our-work .carousel-details {
        flex-direction: column;
        height: inherit;
    }

    #our-work .carousel-details .column {
        padding: 15px 0;
    }

    #our-work .carousel-content {
        padding-top: 30px;
    }

    #our-work .carousel-content .paragraph {
        padding: 0 10px;
    }
}