@import '../global.css';
@import '../header.css';
@import '../footer.css';

#company {
    background-color: #f2f2f2;
}

#company .container {
    margin: 0 auto;
    width: 1170px;
    padding: 120px 0;
}

#company  .bread-crumbs {
    margin-bottom: 122px;
    text-align: center;
}

#company .bread-crumbs ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#company .bread-crumbs li {
    display: inline-block;
    opacity: 0.65;
    font-size: 14px;
    font-family: "Montserrat-Regular";
    color: black;
}

#company .bread-crumbs li.active {
    opacity: 1;
    font-family: "Montserrat-Bold";
}

#company .bread-crumbs li::after {
    content: ' >';
}

#company .bread-crumbs li:last-child::after {
    content: '';
}

#company .main {
    display: flex;
    flex-direction: row;
}

#company .main .column-1 {
    width: 500px;
}

#company .main .column-2 {
    width: 100%;
}

#company .main .image {
    height: 735px;
    width: 500px;
    background-image: url(../../assets/images/exotic.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#company .main .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#company .main .content-container .inner-container {
    width: 470px;
}

#company .main .content-container h3 {
    font-size: 48px;
    font-family: 'Montserrat-Bold';
    text-transform: capitalize;
    color: #000000;
    margin: 0 0 86px 0;
}

#company .main .content-container p {
    font-size: 14px;
    font-family: 'Montserrat-Regular';
    line-height: 28px;
    color: #999999;
    margin: 0 0 42px 0;
}

#company .main .content-container .signature {
    width: 100%;
}